@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

            body{
                width:21.25rem;
                height:28.12rem;
                margin:0 auto;
          
            }

            *{
                box-sizing:border-box;
                margin:0;
                padding:0;
                border:0;
                outline:none;
                font-family: 'NanumSquare', sans-serif;
                text-align: center;
            }

            #mainPart{
                width:100%;
                height:12.5rem;
                background: linear-gradient(to right bottom, #0acffe, #406aff);
            }

            .logo{
                width:5rem;
                display:block;
                top:1.3rem;
                margin:0 auto;
                position:relative;
            }
            
            #mainPart .exitImg{
                position:absolute;
                right:1.2rem;
                top:1.25rem;
                cursor: pointer;
            }

            h1{
                color:white;
                font-size:1.7rem;
                margin-top:3.7rem;
                letter-spacing: 0.5px;
            }

            #mainPart .btns{
                width:6.1rem;
                height:2.1rem;
                display:inline-block;
                border:1px solid white;
                border-radius: 50px;
                margin:2.5px;
                margin-top:2.8rem;
                cursor:pointer;

                color:white;
                padding-top:9px;
                padding-left:6.5px;
                font-weight:600;
                letter-spacing:7px;

                transition:0.5s;
            }

            #mainPart .btns:hover{
                background-color:white;
                color: #406aff;
            }

            /* 구역 */

            #urlCover{
                width:100%;
                height:12.35rem;
                margin-top:0.8rem;
                overflow:hidden;
            }

            /* scroll 없애는 용도 */
            #urlCover #urlPart{
                width:120%;
                height:100%;
                overflow:auto;
            }

            /* 구역 */
            #downloadPart{
                width:100%;
                height:3.3rem;
                position:absolute;
                bottom:0;
                background: linear-gradient(to right, #0acffe, #406aff);

                /* 디폴트는 none */
                display: none;
            }

            /* 추가 눌렀을 때의 버튼 */
            #download{
                width:6.5rem;
                height:2.1rem;
                border:1px solid white;
                border-radius: 50px;
                display: table;
                margin:0 auto;
                margin-top:10px;
                cursor: pointer;
                transition:0.5s;
            }

            #download:hover{
                background-color:white;
            }

            #download:hover #downloadText{
                color:#406aff !important;
            }

            #download #downloadText{
                color:white;
                display:table-cell;
                vertical-align: middle;
                font-weight:bold;
                letter-spacing: 0.5px;
            }

            /* table 부분 */
            table{
                border-collapse: collapse;
            }

            table td{
                width:21.25rem;
                height:2.4rem;
                border-bottom:1px solid #F6F6F6;
            }

            #textVal{
                display:block;
                width:100%;
                height:100%;
            }

            /* 삭제 눌렀을 때의 버튼 */


            /* input type들 */
            input[type=checkbox]{
                float:left;
                width:15px;
                height:15px;
                margin-left:1rem;
            }

            input[type=text]{
                width:16rem;
                height:2rem;
                position:relative;
                right:4rem;
                background-color:transparent;
            }

            /* 삭제 눌렀을 때 */
            #delete{
                display:none;
            }

            #delete .deletes{
                width:6.5rem;
                height:2.1rem;
                border:1px solid white;
                border-radius: 50px;
                display: inline-block;
                margin:0 auto;
                margin:10px;
                cursor: pointer;
                transition:0.5s;

                color:white;
                padding-top:0.6rem;
                font-weight:bold;
                letter-spacing: 0.5px;
            }

            #delete .deletes:hover{
                background-color:white;
                color:#406aff;
            }

            /* 클릭 시 폼 */
            #clickForm{
                width:100%;
                height:100%;
                position:absolute;
                z-index:9999;
                background: linear-gradient(to right, #0acffe, #406aff);
                top:0;
                left:0;
                right:0;
                bottom:0;

                display: none;
            }

            #clickForm .formBtns{
                width:9rem;
                height:2.2rem;
                display:inline-block;
                border:1.5px solid white;
                vertical-align: top;
                border-radius: 50px;
                margin:5px;
                margin-top:16rem;
                cursor:pointer;
            }

            #clickForm .formBtns:hover{
                background-color:white;
            }

            #clickForm .formBtns:hover .formBtnTexts{
                color:#406aff !important;
            }
            
            #clickForm .formBtns .formBtnTexts{
                color:white;
                font-size:0.85rem;
                text-align: center;
                padding-top:0.6rem;
            }